.DiaryEditor{
  border: 1px solid #e1e1e1;
  text-align: center;
  padding: 20px;
}
.DiaryEditor input, textarea{
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
  border-radius: 4px;
}

.DiaryEditor textarea{
  height: 150px;
}

.DiaryEditor select{
  width: 300px;
  border-radius: 4px;
  padding: 10px;
  margin-left: 15px;
  margin-bottom: 40px;
}
.DiaryEditor button{
  font-size: 15px;
  padding: 15px 25px;
  border: none;
  color: #fff;
  background-color: #000;
}

/* DiaryList */
.DiaryList{
  border: 1px solid #e1e1e1;
  padding: 20px;
  margin-top: 20px;
}

.DiaryList h2{
  text-align: center;
}

/* DiaryItem */
.DiaryItem{
  background-color: #f7f7f7;
  margin-bottom: 10px;
  padding: 20px;
}
.DiaryItem .info{
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
}
.DiaryItem .content{
  font-weight: bold;
  margin-top: 20px;
}